.root {
  -fx-background-color: #ffffff;
}

.side_ankerpane {
  -fx-background-color: #545b68;
  -fx-border-width: 2px 2px 2px 2px;
  -fx-border-radius: 5px;
  -fx-background-radius: 5px;
  -fx-border-style: solid;
}

.inner_pane {
  -fx-background-color: #d4d4d4;
  -fx-border-width: 2px 2px 2px 2px;
  -fx-border-radius: 20px;
  -fx-background-radius: 20px;
  -fx-border-style: solid;
  -fx-border-color: #808080;
}

.most_inner_pane {
  -fx-background-color: #545b68;
  -fx-border-width: 2px 2px 2px 2px;
  -fx-border-radius: 20px;
  -fx-background-radius: 20px;
  -fx-border-style: solid;
  -fx-border-color: #808080;
}

.nav_btn {
  -fx-background-color: #d4d4d4;
  -fx-border-width: 2px;
  -fx-border-radius: 20px;
  -fx-background-radius: 20px;
  -fx-border-style: solid;
  -fx-border-color: #545b68;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
  transition: all 0.3s ease;
}

.nav_btn:hover {
  -fx-background-color: #eaeaea; /* Lighter shade when hovered */
}

.nav_btn:pressed {
  -fx-background-color: #cacaca; /* Even darker to simulate a press */
  -fx-effect: dropshadow(
    three-pass-box,
    rgba(0, 0, 0, 0.3),
    5,
    0,
    0,
    0
  ); /* Smaller shadow to simulate depth */
}

.white_bg {
  -fx-background-color: #ffffff;
  -fx-border-width: 2px 2px 2px 2px;
  -fx-border-radius: 20px;
  -fx-background-radius: 20px;
  -fx-border-style: solid;
  -fx-border-color: #545b68;
}

.shadow {
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 50, 0, 10, 0);
}

.shadow_2 {
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 20, 0, 0, 0);
}
